<ul>
            <li><a href="/" class="filter active" data-filter=".menu-restaurant">Show All</a></li>
            {{#each menus}}
            <li><a href="/{{id}}" class="filter" data-filter=".breakfast">{{name}}</a></li>
            {{/each}}
          </ul>